.hover-shadow {
  transition: all 0.2s ease-in-out;
}

.hover-shadow:hover {
  transform: translateY(-2px);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.form-check {
  position: relative;
  padding-left: 0;
}

.form-check-input {
  position: absolute;
  left: 0;
  z-index: 1;
  margin-left: 1rem;
  margin-top: 1.5rem;
}

.form-check-label {
  transition: all 0.2s ease-in-out;
  background-color: #fff;
}

.form-check-label:hover {
  border-color: #0d6efd !important;
  cursor: pointer;
}

.form-check-input:checked + .form-check-label {
  border-color: #0d6efd !important;
  background-color: #f8f9fa;
}

.book-item {
  transition: all 0.2s ease-in-out;
  background-color: #fff;
}

.book-item:hover {
  border-color: #0d6efd !important;
  transform: translateY(-2px);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.actions button {
  opacity: 0.7;
  transition: opacity 0.2s;
}

.actions button:hover {
  opacity: 1;
}

.input-group .form-control:focus {
  border-color: #dee2e6;
  box-shadow: none;
}

.input-group .input-group-text {
  border-right: 0;
}

.input-group:focus-within .input-group-text,
.input-group:focus-within .form-control {
  border-color: #86b7fe;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}